.footer{
    height: 250px;
    width: 98%;
    /* background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%); */
    background: rgb(2,50,72);
    background: linear-gradient(0deg, rgba(2,50,72,1) 0%, rgba(40,112,148,1) 100%);
    border-top: 3px solid #ebebeb;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-top: -40px;
}

.mainTab{
  padding: 20px;
  color: white;
  font-size: 11pt;
  text-align: left;
}

.subTab h4{
  margin: 0px;
  border-radius: 50%;
  background-color: white;
  padding: 10px 5px 10px 5px;
  font-size: 10pt;
  text-align: center;
  color: rgb(2,50,72);
}

.footer table{

}
