.ks{
  width: 100%;
  border: 0.5px solid lightgray;
  overflow: hidden;
  border-radius: 20px;
  padding: 0px 0px 0px 0px;
}

.ks div{
  display: inline-table;
  padding: 10px;
}

.semsterBox {
  width: 45%;
}

.semsterId h3{
  padding: 20px 5px 20px 5px;
  color: white;
  font-size: 40px;
  vertical-align: top;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  /* background-color: #f53f3f; */
  background: rgb(2,50,72);
  background: linear-gradient(90deg, rgba(2,50,72,1) 0%, rgba(40,112,148,1) 100%);
  width: 60px;
  height: 80px;
  margin-bottom: -10px;
}

.semsterInfo {
  border: 0.5px solid rgb(2,50,72);
  border-radius: 20px;
  width: 380px;
  margin-left: 0%;
  height: 200px;
}
.semsterInfo p, .Vorkurs p{
  font-style: normal;
  text-align: center;
}

.semsterId h4, .Vorkurs h4{
  font-size: : 15pt;
  margin-top: 5px;
}

/* kurse section starts here  */
.Vorkurs h3, .semsterId h3{
  padding: 20px 5px 20px 5px;
  color: white;
  font-size: 40px;
  vertical-align: top;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  /* background-color: #f53f3f; */
  background: rgb(2,50,72);
  background: linear-gradient(90deg, rgba(2,50,72,1) 0%, rgba(40,112,148,1) 100%);
  width: 60px;
  height: 80px;
  margin-bottom: -10px;
}
.Vorkurs h2, .semsterId h2{
  width: 60px;
  height: 80px;
  margin-top: 10px;
  padding: 20px 5px 20px 5px;
  color: white;
  font-size: 20px;
  vertical-align: top;
  border-bottom-right-radius: 10%;
  border-bottom-left-radius: 10%;
  /* background-color: #f53f3f; */
  background: rgb(255,93,93);
  background: linear-gradient(180deg, rgba(255,93,93,1) 0%, rgba(247,51,51,1) 100%);

}
.Vorkurs a, .semsterBox a{
  text-decoration: none;
}
.Vorkurs h2:hover, .semsterBox h2:hover{
  background: rgb(255,47,79);
  background: linear-gradient(180deg, rgba(255,47,79,1) 0%, rgba(214,22,32,1) 100%);
  transition: 0.5s;
}
.vkInfo {
  border: 0.5px solid rgb(2,50,72);
  border-radius: 20px;
  width: 82%;
  margin-left: 0%;
  height: 200px;
}


.semsterId h4{
  font-size: 15pt;
  margin-top: 5px;
}


.headingstyle{
  width: 100%;
  padding: 10px;
  border: 1px solid #287094;
  background: rgb(2,50,72);
  background: linear-gradient(90deg, rgba(2,50,72,1) 0%, rgba(40,112,148,1) 100%);
  color: white;
  margin-left: -1px;
  margin-top: -1px;

}

@media screen and (max-width: 600px) {
  .semsterBox {
    width: 35%;
    display: block;
  }
  .Vorkurs h3, .semsterId h3{
    padding: 10px 2px 10px 2px;
    color: white;
    font-size: 20px;
    vertical-align: top;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    /* background-color: #f53f3f; */
    background: rgb(2,50,72);
    background: linear-gradient(90deg, rgba(2,50,72,1) 0%, rgba(40,112,148,1) 100%);
    width: 40px;
    height: 50px;
    margin-bottom: -10px;
  }
  .Vorkurs h2, .semsterId h2{
    width: 40px;
    height: 50px;
    margin-top: 10px;
    padding: 10px 1px 10px 2px;
    color: white;
    font-size: 10px;
    vertical-align: top;
    border-bottom-right-radius: 10%;
    border-bottom-left-radius: 10%;
    /* background-color: #f53f3f; */
    background: rgb(255,93,93);
    background: linear-gradient(180deg, rgba(255,93,93,1) 0%, rgba(247,51,51,1) 100%);

  }
  .semsterInfo {
    border: 0.5px solid rgb(2,50,72);
    border-radius: 20px;
    width: 200px;
    margin-left: -2%;
    height: 200px;
  }

}
